<main>
  <app-header>
  </app-header>
  <div class="main-container">
      <app-side-menu></app-side-menu>
      <div class="content">
          <nav class="breadcrumbs">
              <ul>
                  <li><a href=""><span class="icon-home"></span></a></li>
                  <li><a href="">Меню</a></li>
              </ul>
          </nav>  
          <div class="content_text content_1382">
          
              <h1>Product cart</h1>
              <div class="product">
                  <div class="product-gallery">
                      <div class="gallery">
                          <div class="gallery-thumbnails">
                              <div class="gallery-thumb"></div>
                              <div class="gallery-thumb"></div>
                              <div class="gallery-thumb"></div>
                              <div class="gallery-thumb"></div>
                          </div>
                          <div class="gallery-photo" *ngFor="let item of getData()">
                            <img [src]="item.imageUrl" alt="">
                          </div>
                      </div>
                  </div>    
                  <div class="product-sidebar">

                  </div>
              </div>

              <div class="product-block">
                  <div class="product-video"></div>
                  <div class="product-reviews"></div>
              </div>
            
          </div> 
      </div>
  </div>

  <app-footer></app-footer>
</main>