<main>
  <app-header>
  </app-header>
  <div class="main-container">
    <app-side-menu></app-side-menu>
    <div class="content">
      <nav class="breadcrumbs">
        <ul>
          <li>
            <a href="">
              <span class="icon-home"></span>
            </a>
          </li>
          <li>
            <a href="">Меню</a>
          </li>
        </ul>
      </nav>
      <div class="content_text">
        <h1>Доставка и оплата</h1>
        <p>Доставка осуществляется транспортной компанией "Нова Почта" со склада в г. Днепр или г. Харьков. Услуги транспортной
          компании по доставке оплачивает покупатель.
        </p>
        <p>
          Заказы до 17-00 (суббота до 13-50) отправляются день в день.
        </p>
        <p>
          Срок доставки по Украине, как правило, 1-2 рабочих дня, в отдаленные уголки нашей страны сроки доставки могут быть больше.
          Услуги за хранение груза более 5-ти рабочих дней оплачивает покупатель.
        </p>

        <span>Способы оплаты: </span>
        <br />
        <ul>
          <li>
            · оплата при получении в транспортной компании, услуги наложенного платежа оплачивает покупатель;
          </li>
          <li>
            · предоплата на карту;
          </li>
        </ul>


        <p>Доставка до двери (курьером) возможна по тарифам компании "Нова почта". Номер товаро-транспортной накладной после
          обработки заказа отправляется клиенту сообщением. Небольшие отправки упаковываются в пузырчатую пленку и непрозрачный
          плотный пакет. Если необходимо заказ может быть упакован в коробки Новой пошты. В этом случае стоимость коробки
          добавляться к стоимости доставки.
        </p>
      </div>
      <div class="pink-rectangle">
        <div class="section-decor"></div>
      </div>
      <div class="content_text content_text_1124">
        <h2>Гарантии на заводской брак</h2>
        <ol>
          <li>
            1. При обнаружении брака необходимо предоставить нам фото или видео с видимыми признаками брака а так же полное описание
            бракованного изделия: когда был получен товар, при каких условиях возник брак или был выявлен, в чем вы- ражается,
            есть ли видимые механические повреждения. Примеры правильного описания брака: «Товар был куплен 24.11.2017, через
            1 месяц перестал заряжаться – индикатор заряда горит, но аккумулятор не заряжается, внешних механических повреждений
            нет», «Товар был куплен 24.11.2017, после 3-х использований сломалась кнопка переключения режимов – режимы не
            переключаются. Видимых механических повреждений нет» и тп.
          </li>
          <li>
            2. Отправка бракованного товара осуществляется исключительно в чистом виде. Визуально грязный товар не принимается в обработку
            и отправляется к отправителю за его счёт.
          </li>
          <li>
            3. Расходы на пересылку брака, выявленного в течение 14 календарных дней с момента продажи или отправки заказа нами, покрываются
            за наш счёт. При выявлении брака в срок более 14 календарных дней после продажи или отправки товара, расходы
            на его пересылку несёте клиент. Расходы на пересылку включают оплату за доставку брака к нам и отправку замены.
          </li>
          <li>
            4. Прежде чем отправить бракованное изделие, согласуйте с менеджером комплектацию возврата. Не всегда есть необходимость
            отправлять изделие в заводской упаковке и со всеми аксессуарами. Иногда замена бракованного товара или его части
            может быть произведена без отправки к нам брака или же отправка брака будет осуществлена при получении замены.
          </li>
          <li>
            5. При отправке брака, отправитель обязан качественно упаковать товар, чтобы он не повредился во время транспортировки. Используйте
            качественные материалы для упаковки товара. Механические повреждения, возникшие при транспортировке, могут исключить
            возможность гарантийного ремонта или замены.
          </li>
          <li>
            6. После отправки бракованного товара в наш адрес необходимо сообщить менеджеру номер ТТН.
          </li>
          <li>
            7. Решение о ремонте, замене полностью или частично принимается сервисным инженером в течение от 2-х до 10-ти рабочих дней
            с момента получения бракованного изделия в транспортной компании. В некоторых случаях может понадобится больше
            времени на диагностику (например, если необходима длительная зарядка и разрядка аккумулятора).
          </li>
        </ol>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</main>