<main>
    <app-header>
    </app-header>
    <div class="main-container">
        <app-side-menu></app-side-menu>
        <div class="content">
            <nav class="breadcrumbs">
                <ul>
                    <li><a href=""><span class="icon-home"></span></a></li>
                    <li><a href="">Меню</a></li>
                    <li><a routerLink="/about-us" routerLinkActive="selected">О нас</a></li>
                </ul>
            </nav>   
        </div>
    </div>

    <app-footer></app-footer>
</main>