<main>
    <app-header>
    </app-header>
    <div class="main-container">
        <app-side-menu></app-side-menu>
        <div class="content">
            <nav class="breadcrumbs">
                <ul>
                    <li><a href=""><span class="icon-home"></span></a></li>
                    <li><a href="">Меню</a></li>
                </ul>
            </nav>  
            <div class="content_text content_580">
                <h1>о нас</h1>
                <p>
                        OmyG предлагает качественные современные секс игрушки
                        европейских производителей для пар, супругов и свободных 
                        людей. 
                </p>
                <h2>        
                        ПОЧЕМУ СТОИТЬ ВЫБРАТЬ ИМЕННО НАС:
                </h2>   
                <ul>   
                    <li>    
                        - умеем храним секреты 
                    </li>
                    <li>    
                        - с уважением относимся к предпочтениям клиентов
                    </li>
                    <li>    
                        - говорим открыто на интимные темы 
                    </li>
                    <li>    
                        - вы получите детальные рекомендации по применению 
                        продукции
                    </li>
                    <li>    
                         - ознакомитесь с видео-обзорами игрушек
                    </li>
                    <li>     
                        - узнаете секс-секреты 
                    </li>
                    <li>    
                        - сможете открыто рассказать о желаниях
                    </li>
                    <li>    
                        - повысите сексуальную-образованность
                    </li>    
                </ul>        
                    <p>    
                        Воплощайте истинные желания! Играйте в игры! 
                        Экспериментируйте! 
                    </p>
                    <p>    
                        Мы рады приветствовать Вас в магазине. 
                        Приятных покупок!
                    </p>
                <h3 class="footer-text">
                        С любовью и уважением, команда OmyG.
                </h3>    
            </div> 
            <div class="decor-about-us">
                <div class="pink-rectangle"></div>
            </div>
        </div>
    </div>

    <app-footer></app-footer>
</main>