<app-product></app-product>

<!-- <main>
    <app-header>
    </app-header>
    <div class="main-container">
        <app-side-menu></app-side-menu>
        <div class="content">
            <nav class="breadcrumbs">
                <ul>
                    <li><a href=""><span class="icon-home"></span></a></li>
                    <li><a href="">Меню</a></li>
                    
                </ul>
            </nav>  
            <div class="content_text content_1382 grid">
                
                    <app-product class="category-list" [name]="name"  *ngFor="let item of getData()"></app-product> 
                
            </div> 
        </div>
    </div>

    <app-footer></app-footer>
</main> -->