<app-breadcrumbs></app-breadcrumbs>

<div class="products">
  <a [routerLink]="['product-cart',product.id]" class="cart grid-item" *ngFor="let product of products">
    <div class="wrap-img">
      <img class="img-cart" [src]="product.imageUrl" alt="">
    </div>
    <p class="product-name">{{product.nameCategory}}</p>
    <p class="price">{{product.price | currency:'UAH ':true:'1.0-0'}}</p>
    <p class="basket">
      <i class="icon-basket">
        <i class="path1"></i>
        <i class="path2"></i>
      </i>
      <span> Добавить в корзину</span>
    </p>
    <span class="like-btn icon-favorite-heart-button"></span>
  </a>
</div>

<app-paginator (newPageEvent)="changePage($event)" (sizePageEvent)="changePageSize($event)"></app-paginator>
<!-- <app-paginator-material></app-paginator-material> -->